<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>JavierMS</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link th:href="@{/icon?family=Material+Icons}" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link th:href="@{/css?family=Roboto:300,400,500,700}" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
	<link th:href="@{/font-awesome/latest/css/font-awesome.min.css}" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />

	<!-- CSS Files -->
	<link th:href="@{/css/bootstrap.min.css}" href="../../static/bootsrap.min.css" rel="stylesheet"/>
	<link th:href="@{/css/material-kit.css}" href="../../static/material-kit.css" rel="stylesheet"/>
</head>

<body class="profile-page" style="background-image: url('../images/fondo.jpg');">
	<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    	<div class="container">
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Navegacion</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" th:href="@{/persona}">Personas</a>
        	</div>
        	</div>
    </nav>
    <!-- Header Background-->
    <div class="wrapper"></div>
		<div class="header header-filter"></div>
    <!-- Profile controls -->
		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                <div class="wrapper">
	                    <div class="profile">
	                        <div class="name">
	                            <h3 class="title">Javier Maldonado S.</h3>
								<h6>Programador</h6>
			                      	</div>
			                    </div>
			                </div>
			                <div class="description text-center">
		                        <p>Demo para presentacion de Entrevista laboral 08/02/2018. </p>
			               	 </div>
					</div>
				</div>
	        </div>
		</div>
    
    <footer class="footer">
    <div class="header header-filter">
        <div class="container">
            <nav class="pull-left">
            </nav>
            <div class="copyright pull-right">
                <p class="color-on-foot">&copy; 2018, made with The Creative Xtreme 1033</p>
            </div>
            </div>
        </div>
    </footer>


</body>
</html>